rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check for admin role
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Jobs can be read by anyone, but only written by admins.
    match /jobs/{jobId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Admins can be read only by admins themselves to check status.
    match /admins/{adminId} {
        allow read, write: if isAdmin() && request.auth.uid == adminId;
    }

    // Applications can be created by any authenticated user for themselves.
    // They can be read by the user who created them, or by any admin.
    // They can be updated/deleted only by admins.
    match /applications/{applicationId} {
      allow read: if request.auth.uid == resource.data.userId || isAdmin();
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete: if isAdmin();
    }
  }
}
